[Unit]
Description=Start VMSVGA dynamic resizing for DRM

[Service]
Type=oneshot
ExecStart=VBoxClient --vmsvga
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
