[Desktop Entry]
Name=VirtualBox
Type=Application
Comment=VirtualBox
Comment[pl]=VirtualBox
Exec=VirtualBox
Icon=VBox
Terminal=false
Categories=Utility;Emulator;
# vi: encoding=utf-8
